@import "../env/vars";
@import "../env/mixins";

/* Curation content styles */
$themeColor: #ece9e2;

.featherlight.connection .featherlight-content,
.curation-page,
.exploration-page {
  font-size: ms(0);
  border: none;
  max-height: 100%;
  background: $themeColor;
  padding: 0 6em 0 3em;
  border-top: 4px solid rgba($pp_shinyGold, 1);
  width: 100%;
  max-width: 40em;

  // Curation spinner element
  .spinner {
    font-style: italic;
    font-family: "Sssi", Garamond, serif;
    font-size: .85em;
    color: rgba($pp_manuscriptInk, .5);
    margin-bottom: 2em;
    margin-top: 2.5em;

    &::before {
      $size: 1.2em;

      content: '';
      display: inline-block;
      vertical-align: top;
      width: $size;
      height: $size;
      background: url('/images/pp-formal.jpg') no-repeat 0 0;
      background-size: $size $size;
      overflow: hidden;
      border-radius: 1px;
      margin-right: 1em;
    }
  }

  @include breakpoint(mobile) {
    padding: 0 1.5em 0 1.5em;
    width: 100%;
    border-radius: 0;
  }

  .escape-box {
    pointer-events: none;
    width: 100%;
    right: 0;
    text-align: right;
    position: fixed;
    z-index: 2;
    top: .5em;

    .escape {
      pointer-events: all;
      font-size: ms(-5);
      padding: .5em .5em .5em .66em;
      margin: 0 1.5em 0 0;
      background: $pp_manuscriptInk;
      color: lighten($pp_manuscriptPaper, 10%);
      border-radius: 1px;

      &:hover {
        color: #fff;
      }
    }
  }

  #content {
    position: relative;
    padding-bottom: 6em;
    padding-top: 6em;

    &::after {
      $size: 2em;

      position: absolute;
      bottom: 2.25em;
      left: 0;
      content: '';
      display: inline-block;
      width: $size;
      height: $size;
      background: url('/images/macron.svg') no-repeat 0 50%;
      background-size: $size;
      overflow: hidden;
      border-radius: 1px;
    }

    // Exploration-specific styling
    &.exploration-content {
      padding-top: 2.5em;

      header .t {
        &::before {
          $size: 1.5em;

          content: 'exploration';
          font-size: 1.05rem;
          font-weight: normal;
          letter-spacing: 3px;
          text-transform: uppercase;
          width: $size;
          height: $size;
          background-size: $size $size;
          padding-left: 2.5em;
          margin-bottom: 2.5em;
        }
      }
    }
  }

  header {
    margin-bottom: 2em;
    max-width: 80%;

    @include breakpoint(mobile) { max-width: 100%; }

    // Title
    .t {
      font-size: ms(0);
      font-weight: 600;
      color: $pp_manuscriptInk;

      &::before {
        $size: .66em;

        content: '';
        width: $size;
        height: $size;
        background: url('/images/pp-formal.jpg') no-repeat 0 0;
        background-size: $size $size;
        display: block;
        margin-bottom: 1em;
      }
    }

    // Subtitle
    .subtitle {
      font-size: 1em;
      margin: 1em 0 .5em 0;
      color: #282828;
      opacity: .9;
    }
  }

  main {
    font-size: .9em;
    line-height: 1.61;
    max-width: 90%;

    @include breakpoint(mobile) { max-width: 100%; }
  }

  .by-line {
    display: inline-block;
    font-size: 1em;
    color: rgba($pp_manuscriptInk, .75);
    margin-top: .66em;
    font-family: $pp_curatorialFont;
    font-style: italic;

    .by {
      font-family: $pp_curatorialFont;
    }
  }

  p {
    margin-bottom: 1.5em;
    font-weight: normal;
    color: #282828;

    &.ind {
      &::before {
        content: '';
        display: inline-block;
        width: 2em;
      }
    }

    &.ind-3 {
      &::before {
        content: '';
        display: inline-block;
        width: 3em;
      }
    }
  }

  section {
    margin-bottom: 2.5em;
    //&.main {}

    &.less {
      font-size: .9em;
    }
  }

  .section-separator {
    margin: 2.5em 0;
    height: 1px;
    border: none;
    background: rgba($pp_manuscriptInk, .08);
  }

  .q {
    border-radius: 3px;
    margin: 3em 0 0 0;
    padding: 2.5em 4.5em 2em 2.5em;
    max-width: 90%;
    background: rgba(255, 255, 255, .66);
    font-family: "Cormorant Garamond", Garamond, sans-serif;
    font-size: .95em;
    display: inline-block;
    color: #181818;

    @include breakpoint(mobile) {
      max-width: 100%;
      display: block;
      margin-left: 0;
      padding: 2em;
    }

    .title {
      width: 80%;
      font-size: 1em;
      margin-bottom: 1em;
      margin-top: 2.25em;
      font-family: "Sssi", Garamond, serif;

      &.first {
        margin-top: 0;
      }
    }

    p {
      font-size: 1em;
      margin-bottom: 1em;
      line-height: 1.5;
    }

    .lg {
      list-style: none;
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: 1em;
      }

      .l {
        position: relative;
        margin-bottom: .25em;

        .n {
          display: inline-block;
          position: absolute;
          font-family: Asap, Arial, sans-serif;
          color: rgba(#282828, .33);
          font-size: .6em;
          left: -3em;
          text-align: right;
          width: 2em;
          line-height: 2.7em;
        }

        // Indented lines
        &.t-1 { padding-left: 1em; }
        &.t-2 { padding-left: 2em; }
        &.t-3 { padding-left: 3em; }
        &.t-4 { padding-left: 4em; }
        &.t-5 { padding-left: 5em; }
        &.t-6 { padding-left: 6em; }
        &.t-7 { padding-left: 7em; }
        &.t-8 { padding-left: 8em; }
        &.t-9 { padding-left: 9em; }
        &.t-10{ padding-left: 10em; }
        &.t-11{ padding-left: 11em; }
        &.t-12{ padding-left: 12em; }

        .line-stamp {
          display: inline-block;
          vertical-align: middle;
          background: lighten($pp_manuscriptPaper, 10%);
          border-radius: 4px;
          padding: 0 .45em;
          font-family: Lato, Arial, sans-serif;
          font-size: ms(-4);
          color: $pp_manuscriptInk;
          opacity: .66;
        }
      }

      // Ellipses
      .ell {
        span {
          color: rgba($pp_manuscriptInk, .66);
          position: relative;
          bottom: .25em;
        }

        //&.init,
        &.term {
          line-height: .75em;
        }

        &.init {
          margin-top: 1.5em;

          span {
            //bottom: .6em;
            bottom: .25em;
          }
        }

        &.term {
          span { bottom: -1px; }
        }
      }
    }

    .inline-comment {
      font-size: ms(-3);
      font-family: Lato, Arial, sans-serif;
      display: inline-block;
      margin-left: 4em;
      padding: .8em 1em;
      background: #eee;
      border-radius: 2px;
      color: $pp_manuscriptInk;


      &.for-above {
        margin-bottom: 2.5em;
      }

      &.for-below {
        margin-top: 2.5em;
      }

      .comment {}

      .author {
        display: block;
        margin-top: .4em;
        opacity: .66;
        font-style: italic;
      }

      &.l {
        margin-top: 1em;
      }
    }

    // Wider quotations
    &.wide {
      max-width: 100%;
      padding-right: 2.5em;
    }

    &.full-width {
      width: 100%;
      max-width: 100%;
    }

    // Qs with side notes
    &.wsn {
      .sidenote {
        color: $pp_manuscriptInk;
        font-size: .7em;
        position: absolute;
        right: 0;
        @include vcenter;
      }

      &.wsn-35 {
        $s: 35%;

        .sidenote { width: $s; }
        .l {
          padding-right: $s;
        }
      }

      &.wsn-25 {
        $s: 25%;

        .sidenote { width: $s; }
        .l {
          padding-right: $s;
        }
      }

      &.wsn-15 {
        $s: 15%;

        .sidenote { width: $s; }
        .l {
          padding-right: $s;
        }
      }

      .src {
        .sidenote {
          letter-spacing: 0;
          text-transform: none;
          font-family: $pp_poetryFont;
          font-size: 1em;
        }
      }
    }

    // Inline gloss notes
    .ign {
      color: #666;
      font-size: .8em;
      font-family: 'Lato', Arial, sans-serif;
    }

    .src {
      font-size: 1em;
      border: none;
      padding: 0;
    }

    .q-block {
      padding: 0;
      font-size: .7em;
      max-width: 90%;
      font-weight: normal;
      display: block;
      font-family: Lato, Arial, sans-serif;
      margin-bottom: 2.25em;

      @include breakpoint(mobile) {
        max-width: 100%;
      }

      .fn {
        opacity: .66;
        margin-bottom: 1.5em;
      }

      .src {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba($pp_manuscriptInk, .75);
        margin: 0;

        &:not(:first-child) {
          margin-top: 1em;
        }

        &::before {
          content: '';
          width: 0;
          height: 0;
          display: none;
          margin: 0;
          padding: 0;
        }
      }

      .intro-note,
      .inline-block-note {
        font-size: 1.25em;
        opacity: .66;
        background: #ECE9E2;
        padding: .61em 1em;
        border-radius: 2px;
        display: inline-block;
      }

      .intro-note {
        &:not(:first-child) {
          margin-top: 2.25em;
        }
      }

      .inline-block-note {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      //&:not(.bottom) {
      //  .src {
      //    //font-size: 1.15em;
      //    font-size: ms(-1);
      //  }
      //}

      &.bottom {
        margin-top: 2.25em;
        padding-top: 1.33em;
        margin-bottom: 0;
        border-top: 1px solid rgba($pp_manuscriptInk, .08);
        max-width: 90%;

        .src {
          font-weight: normal;
          text-transform: none;
          letter-spacing: normal;
        }
      }
    }

    // Nested quotation/citation
    .q {
      font-size: .9em;
      background: #fff;
      padding: 1.5em;
      margin-top: 1em;

      .q-block {
        margin-bottom: 1.5em;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    // Headless citation
    &.headless {
      padding-top: 2em;
    }

    // Bottomless citation
    &.bottomless {
      padding-bottom: 1.66em;

      .lg {
        margin-bottom: 0;
      }

      .no-margin-bottom {
        margin-bottom: 0;
      }
    }
  }

  // Standalone source statements
  .src {
    display: block;
    border: none;
    margin: .85em 0 0 0;
    padding: 0;
    font-size: .9em;
    text-transform: none;
    letter-spacing: 0;
    color: $pp_manuscriptInk;

    &:before {
      content: 'Source:';
      margin-right: .33em;
      display: inline-block;
      vertical-align: baseline;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75em;
      letter-spacing: 2px;
      color: rgba($pp_manuscriptInk, .66);
    }

    //todo: decide about the formatting for these
    //a {
    //  color: #aaa;
    //}
  }

  // More conventional basic quotation
  .basic-quote {
    font-size: .9em;
    margin-bottom: 1.65em;
    text-transform: none;
    letter-spacing: 0;
    border-left: 4px solid rgba($pp_manuscriptInk, .5);
    padding-left: 1.65em;
    color: darken($pp_manuscriptInk, 2%);
  }

  p + .q,
  h3 + .q {
    margin-top: 1.5em;
  }

  .q + p {
    margin-top: 3em;
  }

  .q + h3 {
    margin-top: 4.5em;
  }

  .img-box {
    margin: 2.5em 0;
    padding-left: 1em;

    @include breakpoint(mobile) {
      padding: 0;
    }

    img {
      margin: 0;

      &[data-zoom] {
        cursor: zoom-in;
      }
    }

    .caption,
    .simple-caption {
      font-size: .8em;
      width: 90%;
      margin: 1.5em 0;
      color: rgba($pp_manuscriptInk, .8);
      line-height: 1.5;
      //font-style: italic;
      text-transform: none;
      letter-spacing: 0;
    }

    .caption {
      &::before {
        font-size: 1em;
        display: inline-block;
        content: '⬆';
        color: rgba($pp_manuscriptInk, 1);
        margin-right: .4em;
      }
    }

    .src {
      font-size: .8em;
      width: 90%;
      margin: 1.5em 0;
    }
  }

  .vid-box {
    margin-top: 2.5em;

    &:not(:last-child) {
      margin-bottom: 2.5em;
    }

    iframe {
      display: block;
      width: 100%;
      height: calc(360 / 18.5) + em;
      background: rgba($pp_manuscriptInk, .2);

      @include breakpoint(mobile) {
        height: auto;
        width: auto;
      }
    }

    .src {
      font-size: .8em;
      opacity: .8;
      margin: 1.5em 0;

      &::before {
        display: none;
      }
    }
  }

  img {
    display: block;
    margin: 3em 0;
    max-width: 90%;
    max-height: 100vh; // todo: interesting idea?
    border: 1px solid rgba(#282828, .15);

    @include breakpoint(mobile) { max-width: 100%; }
  }

  // Lists
  ol,
  ul {
    color: #282828;
    margin-bottom: 1.5em;

    @include breakpoint(mobile) {
      margin-left: 1em;
    }

    li {
      margin-bottom: .66em;
    }

    &.ind {
      margin-left: 1.5em;
    }
  }

  .src-list {
    font-size: .9em;
    color: $pp_manuscriptInk;

    li {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

  // Unnumbered lists
  ul {
    list-style: disc;

    &.no-marker {
      list-style: none;
    }
  }

  // Numbered lists
  //ol {}

  // Table of Contents
  .toc {
    font-size: .8em;
    background: darken(rgba($pp_manuscriptInk, 1), 8%);
    color: whitesmoke;
    font-weight: bold;
    max-width: 80%;

    @include breakpoint(mobile) {
      max-width: 100%;
    }

    .header,
    .item-marker {
      color: rgba($pp_manuscriptPaper, .75);
    }

    ul {
      list-style: none;

      ul {
        margin-top: .85em;
        font-size: .95em;
      }
    }

    a {
      color: whitesmoke;
      transition: color .1s ease-in-out;

      &:hover {
        color: $pp_shinyGold;
      }
    }
  }

  // Back to top
  .back-to-top-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: right;
    z-index: 1;
    font-size: .75em;

    .back-to-top {
      background: darken(rgba($pp_manuscriptInk, 1), 8%);
      color: whitesmoke;
      transition: color .1s ease-in-out;
      font-weight: bold;
      display: inline-block;
      padding: 0 .75em;
      border-radius: 2px;

      .item-marker {
        color: rgba($pp_manuscriptPaper, .75);
      }

      &:hover {
        color: $pp_shinyGold;
      }
    }
  }

  // "Collapsible" blocks
  .collapsible {
    $rounded-corners: 3px;

    border-radius: $rounded-corners;

    input.collapsible__toggle {
      display: none;
    }

    .collapsible__label {
      font-weight: bold;
      display: block;
      padding: 1em 1em 1em 1.5em;
      cursor: pointer;
      border-radius: $rounded-corners;
      @include transition(all 0.25s ease-out);

      &:hover {
        color: rgba($pp_manuscriptPaper, 1);
      }
    }

    .collapsible__content {
      border-radius: 0 0 $rounded-corners $rounded-corners;
      max-height: 0;
      overflow: hidden;
      @include transition(max-height .25s ease-in-out);
    }

    .collapsible__inner-content {
      padding: 0 1.5em;
      margin-top: .5em;

      @include breakpoint(mobile) {
        padding: 0;
      }

      &.vertical-padding {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }
    }

    .collapsible__label::before {
      content: ' ';
      display: inline-block;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid rgba($pp_manuscriptPaper, .75);
      vertical-align: middle;
      margin-right: .6rem;
      transform: translateY(-2px);
      transition: transform .2s ease-out;
    }

    input.collapsible__toggle:checked + .collapsible__label {
      border-radius: $rounded-corners $rounded-corners 0 0;

      &::before {
        transform: rotate(90deg) translateX(-0px);
      }

      + .collapsible__content {
        max-height: 500vh;
      }
    }
  }

  // Headings
  h3 {
    font-family: $pp_curatorialFont;
    font-weight: bold;
    margin: 2.5em 0 1.5em 0;
    font-size: ms(-1);
  }

  h4 {
    font-family: $pp_curatorialFont;
    font-weight: bold;
    margin-bottom: 1.25em;
    font-size: 1.1em;

    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }

  h3, h4 {
    color: $pp_manuscriptInk;

    &.sssi {
      font-family: $pp_poetryFont;
    }
  }

  // Tables
  table {
    font-size: .9em;

    &.col-2 {
      tr {

        &:not(:last-child) {
          td {
            padding-bottom: 1.5em;
          }
        }

        td {
          width: 50%;
          vertical-align: top;

          &:first-child {
            padding-right: .75em;
          }

          &:last-child {
            padding-left: .75em;
          }
        }
      }
    }
  }

  // Footnote
  .footnote {
    $factor: .8em;

    max-width: 90%;
    border-radius: 0 0 2px 2px;
    background: rgba($pp_manuscriptInk, .05);
    margin: 0 0 calc(3em / $factor) + em 0;
    font-size: $factor;
    color: $pp_manuscriptInk;
    padding: calc(1.5em / $factor) + em;
    padding-right: 2.5em;

    p {
      margin-bottom: 0;
      max-width: 100%;
    }

    @include breakpoint(mobile) {
      max-width: 100%;
    }
  }

  // Inline block note
  .inline-block-note {
    background: rgba($pp_manuscriptInk, .04);
    color: $pp_manuscriptInk;
    font-size: .8em;
    display: inline-block;
    border-left: 3px $pp_manuscriptInk solid;
    padding: 1em 1.5em;
    margin-top: 2.25em;

    .marker {
      margin-right: .5em;
    }
  }

  // Poem reference
  .poem-ref {
    background: rgba(224, 221, 215, 1);
    margin-left: -3em;
    padding: 1.1em 10em 1em 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    position: fixed;
    max-width: inherit;
    width: 100%;
    z-index: 2;

    @include breakpoint(mobile) {
      padding-left: 1.5em;
      padding-right: 4.5em;
      right: 0;
    }

    .idx,
    .t {
      display: inline-block;
    }

    .idx {
      font-size: ms(-3) * .75;
      color: rgba($pp_manuscriptInk, .66);
      margin-right: .75em;
    }

    .t {
      font-size: ms(-3);
      display: inline;
      color: #282828;
      font-family: "Sssi", Garamond, serif;
      font-smooth: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include transition(color .2s);
    }

    @include breakpoint(mobile) {
      &::before {
        display: block;
      }

      &::before {
        margin-bottom: .5em;
      }

      .idx { margin-right: .66em; }
    }
  }

  .pp-poem-ref {
    color: #080808;
    font-size: .9em;
    bottom: 1px;
    border: 1px solid rgba($pp_manuscriptInk, .15);
    background: lighten($pp_manuscriptPaper, 16%);

    &:hover {
      background: #fff;
      border: 1px solid rgba($pp_manuscriptInk, .2);
    }
  }

  .pre {
    color: rgba($pp_manuscriptInk, 1);
    position: relative;
    bottom: 1px;
    font-size: .8em;
    line-height: .85em;
    padding: .4em .4em .2em .4em;
    background: rgba($pp_manuscriptInk, .15);
    white-space: nowrap;
  }

  // Footnotes: markers and anchors
  .fn-num,
  .fn-anchor {
    color: darken($pp_manuscriptPaper, 30%);
    opacity: .85;
  }

  .fn-num {
    $size: 8em;

    // To make it visible when triggering
    &:target::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: $size;
      margin-top: -$size;
    }
  }

  .fn-anchor {
    // To make it visible when triggering
    &::before {
      $size: 7em;

      content: '';
      display: block;
      position: relative;
      width: 0;
      height: $size;
      margin-top: -$size;
    }
  }

  // Dismiss action
  #content .dismiss {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 1.25em;
    right: -3em;
    opacity: .2;
    @include transition(opacity .2s);

    @include breakpoint(mobile) {
      top: 1.2em;
      right: 1.2em;
    }

    &:hover {
      opacity: .66;
    }

    &::after {
      $size: 1.15em;

      display: inline-block;
      content: '';
      position: fixed;
      width: $size;
      height: $size;
      background: url('/images/close.png') no-repeat 0 0;
      background-size: $size;
    }

    @include breakpoint(mobile) {
      &::after {
        $size: 1.5em;

        width: $size;
        height: $size;
        background-size: $size;
      }
    }
  }
}

// Standalone page overrides
.curation-page,
.exploration-page {
  border-radius: 0;
  width: 80%;
  max-width: 30em;
  margin: 0 auto;

  @include breakpoint(mobile) {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .dismiss { display: none; }

  header {
    @include breakpoint(mobile) {
      .t {
        font-size: ms(-1);
        line-height: 1.4;
      }
    }
  }

  #content {
    padding-top: 3em;

    main {
      .q { max-width: 75%;}
    }

    @include breakpoint(mobile) {
      padding: 1em;
    }
  }
}
