.family-tree-trigger {
  margin: 0 4.5em 1.5em 4.5em;
}

.family-tree-box {
  $theme: $pp_manuscriptPaper;

  display: block;
  border: 1px solid rgba($theme, .1);
  border-radius: 6px;
  background: rgba($theme, .2);
  font-style: italic;
  height: 42em;
  overflow: hidden;
  margin: 0 4.5em;

  iframe {
    display: block;
    width: 100%;
    min-height: 100%;
  }
}
