.family-tree-box {
  $theme: $pp_manuscriptPaper;

  display: block;
  border: 1px solid rgba($theme, .25);
  border-radius: 4px;
  padding: 1.5em;
  background: rgba($theme, .05);
  color: rgba($theme, .5);
  font-style: italic;
  height: 16em;

  /* todo: make this collapsible */
}
