.pp.home {
  $maxWidth: 100em;
  $leftEdgeOffset: 4.5em;
  $mobileLeftEdgeOffset: 2.25em;
  $mainColumnWidth: 66%;

  position: relative;
  color: #fff;
  background: #181818;
  overflow-x: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  // Hero section
  #intro {
    background: url('/images/pp-splash-bg.jpg') no-repeat, rgba(0, 0, 0, 1);
    background-size: cover;
    height: 100vh;
    position: relative;
    display: none;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      display: block;
      background-image: linear-gradient(-10deg, rgba(darken($pp_manuscriptInk, 10%), .74) 0%, rgba(darken($pp_manuscriptInk, 20%), .88) 100%);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .content-box {
      $emblemWidth: 3em;
      $blueprintStrokeWidth: 2px;
      $blueprintStrokeColor: rgba(255, 255, 255, .5);
      $scaleFactor: 4;

      @include vcenter;
      text-align: center;
      max-width: 50em;
      margin: 0 auto;
      left: 0;
      right: 0;

      @include breakpoint(mobile) {
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .content {
        position: relative;

        @include breakpoint(mobile) {
          text-align: center;
        }

        .emblem-box {
          height: 3.33em;

          .emblem {
            @include vcenter();
            margin: 0 auto;
            left: 0;
            right: 0;
            width: $emblemWidth;
            @include transform(scale($scaleFactor));

            svg.logo {
              overflow: visible;
              width: $emblemWidth;
              height: $emblemWidth;
            }

            &.initially {
              opacity: 0;

              svg.logo.two-opened-paths {
                fill: none;
                stroke-miterlimit: 10;

                .blueprint-path {
                  &.inner,
                  &.outer {
                    stroke: $blueprintStrokeColor;
                    stroke-width: $blueprintStrokeWidth;
                  }
                }
              }
            }

            &.eventually {
              opacity: 0;

              &.skipped {
                opacity: 1;
                @include transform(scale(1));
                top: 0;
              }
            }
          }
        }

        .anmtd {
          opacity: 0;
          max-width: 100%;

          &.skipped { opacity: 1 }
        }

        .hero,
        .sub-hero {
          font-family: $pp_originalFont;
        }

        .hero,
        .sub-hero,
        .teaser {
          text-shadow: 0 0 1px rgba(0, 0, 0, .5);
        }

        .hero {
          text-transform: uppercase;
          font-size: ms(1);
          color: #fff;

          .small-cap {
            font-size: .9em;
          }
        }

        .sub-hero {
          font-size: ms(0);
          color: rgba(#fff, .9);
        }

        .separator {
          display: none;
          margin: 1em 0;

          img {width: 1.5em;}
        }

        .teasers {
          margin: 6vh 0 8vh 0;

          @include breakpoint(mobile) {
            margin: 6vh 0;
          }
        }

        .vid-box {
          text-align: center;
          margin: 0;
          width: 100%;

          .vid {
            .thumb {
              $h: 4em;
              $ratio: calc(16 / 9);
              $playIconSize: 1em;

              position: relative;
              display: inline-block;
              vertical-align: middle;
              cursor: pointer;
              height: $h;
              width: $h * $ratio;
              //border: 1px solid rgba($pp_manuscriptPaper, .5);
              border: 1px solid rgba($pp_shinyGold, .5);
              border-radius: .25em;
              overflow: hidden;
              box-shadow: 0 0 1em rgba(0, 0, 0, .66);
              background: url('/images/intro-video-cover.jpg') no-repeat;
              background-size: cover;

              &::before {
                content: '';
                display: block;
                background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, .25) 100%);
                width: 100%;
                height: 100%;
              }

              &::after {
                opacity: .75;
                position: absolute;
                top: 0;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: url('/images/triangle-down-w.svg') no-repeat 50% 50%;
                background-size: $playIconSize;
                @include transform(rotate(270deg));
                @include transition(opacity .2s);
                @include breakpoint(mobile) {
                  background-size: 2em;
                }
              }

              &:hover {
                &::before {
                  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, .15) 100%);
                }
              }

              @include breakpoint(mobile) {
                $h: 5em;

                height: $h;
                width: $h * $ratio;

                &::after {
                  background-size: 1.25em;
                }
              }
            }

            .action-call {
              font-size: 1em;
              line-height: 1.61;
              text-align: left;
              display: inline-block;
              vertical-align: middle;
              margin-left: 1.66em;
              //font-style: italic;
              color: rgba(#fff, .9);
              position: relative;

              .video-title {
                font-size: 1.2em;
              }

              .video-subtitle {
                opacity: .9;
              }

              @include breakpoint(mobile) {
                display: block;
                text-align: center;
                margin: 1em 0 0 0;
                font-size: ms(0);

                .video-title {
                  font-size: 1em;
                }

                .video-subtitle {
                  font-size: .85em;
                }
              }
            }
          }
        }

        .teaser-text {
          color: lighten($pp_manuscriptPaper, 7%);
          font-size: 1.1em;
          margin-bottom: 5vh;
          line-height: 1.66;
          display: inline-block;
          text-align: center;
          font-family: $pp_originalFont;
          font-style: italic;
          width: 100%;

          @include breakpoint(mobile) {
            font-weight: normal;
            margin-bottom: 6vh;
          }
        }

        .actions-box {
          opacity: 0;

          &.skipped { opacity: 1; }

          @include breakpoint(mobile) {
            margin-top: 3em;
          }

          .actions {
            .action {
              color: whitesmoke;
              position: relative;
              cursor: pointer;
              font-size: .8em;
              display: inline-block;
              font-family: $pp_interfaceFont;
              background: #343434;
              text-transform: uppercase;
              letter-spacing: 4px;
              padding: 1em 22px 1em 25px;
              line-height: 1;
              box-shadow: 0 0 .5em rgba(0, 0, 0, .25);
              font-weight: bold;
              text-align: center;
              border-radius: 3px;
              border: 1px solid rgba(#000, .2);
              @include transition(all .2s);

              &:hover {
                color: #fff;
                background: #3c3c3c;
              }

              &:not(:last-child) {
                margin-right: 3em;
              }

              &#about-action,
              &#discover-action {
                min-width: 9.5em;

                @include breakpoint(mobile) {
                  min-width: auto;

                }
              }

              &#to-poems {
                background: $pp_RoyalBlueLight;
                box-shadow: 0 0 1em rgba(0, 0, 0, .25);

                &:hover {
                  background: lighten($pp_RoyalBlueLight, 3%);
                }
              }

              &.pseudo {
                position: relative;
                padding-right: 3.25em;

                &::before,
                &::after {
                  display: inline-block;
                  content: '';
                  position: absolute;
                  right: 0;
                  height: 100%;
                  top: 0;
                  bottom: 0;
                  padding: 0 1em;
                  line-height: ms(3);
                }

                &::after {
                  background: url('/images/drop-down-w.svg') no-repeat 50% 50%;
                  @include transform(rotate(180deg));
                  @include transition(transform .4s);
                }

                &::before {
                  background: #444;
                  border-radius: 0 1px 1px 0;
                }

                &:last-child {
                  margin-right: 0;

                  @include breakpoint(mobile) {
                    margin-right: auto;
                  }
                }

                &.expanded {
                  &::after {
                    @include transform(rotate(0));
                  }

                  &::before {
                    border-radius: 0 0 4px 0;
                  }

                  .drop-list {
                    display: block;
                    border-radius: 4px 4px 0 4px;
                  }
                }
              }

              a,
              a:active,
              a:visited {
                color: rgba(255, 255, 255, .8);

                @include breakpoint(mobile) {
                  color: #fff;
                }
              }

              .drop-list {
                display: none;
                background: #444;
                position: absolute;
                left: -2em;
                right: 0;
                bottom: 100%;
                animation: fadeInUpSubtle .4s both;
                padding: 1.5em 0;
                text-align: left;
                line-height: 1.5;
                letter-spacing: 2px;

                @include breakpoint(mobile) {
                  padding: 2em 0;
                }

                li {
                  font-size: .8em;
                  margin: 0 1em 0 2em;
                  position: relative;

                  &:not(:last-child) {
                    margin-bottom: 2em;
                  }

                  @include breakpoint(mobile) {
                    font-size: 1em;

                    &:not(:last-child) {
                      margin-bottom: 2.5em;
                    }
                  }


                  img {
                    position: absolute;
                    top: .25em;
                    width: 1em;
                    height: 1.25em;
                  }

                  a {
                    display: inline-block;
                    padding-left: 2em;
                    position: relative;
                    top: 1px;

                    &:hover { color: $pp_RoyalBlueLight; }
                  }
                }
              }

              @include breakpoint(mobile) {
                display: block;
                margin: 1.5em auto;
                width: 50%;
                font-size: ms(-1);
                padding: 1.2em 1.5em 1em 1.5em;

                &:not(:last-child) {
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }

    &.animation-skipped .content-box .content {
      .emblem-box .emblem.eventually,
      .actions-box,
      .anmtd {
        opacity: 1
      }
      .emblem-box .emblem.eventually {
        @include transform(scale(1));
        top: 0;
      }
    }
  }

  // Explorations section
  //#explorations {
  //  position: relative;
  //  color: $pp_manuscriptInk;
  //  background: url('/images/explorations-background.jpg') no-repeat;
  //  background-size: cover;
  //
  //  &::before {
  //    content: '';
  //    position: absolute;
  //    top: 0;
  //    bottom: 0;
  //    width: 100%;
  //    display: block;
  //    background: rgba(#e6e3db, .66);
  //    background: linear-gradient(0deg, rgba(#F5f5f5, .9) 0%, rgba(#e6e3db, 0) 100%);
  //  }
  //
  //  .exploration-blurb {
  //    position: relative;
  //    background: rgba(#fff, 1);
  //    min-height: 0;
  //    overflow: hidden;
  //    max-width: 61%;
  //    font-size: ms(-1);
  //    color: rgba($pp_manuscriptInk, 1);
  //    margin-bottom: 4em;
  //
  //    @include breakpoint(mobile) { max-width: 90%;}
  //
  //    @include breakpoint(mobile) {
  //      max-width: 100%;
  //    }
  //
  //    &.muted {
  //      @include transition(all .2s);
  //      height: 0;
  //      min-height: 0;
  //      margin-top: 1.5em;
  //      border: none;
  //      padding: 0;
  //      margin-bottom: 0;
  //    }
  //  }
  //
  //  .explorations-box {
  //    max-width: $maxWidth;
  //    margin: 0 auto;
  //    padding: 4.5em 0 4.5em 0;
  //
  //    @include breakpoint(mobile) {
  //      padding: 3em 0;
  //      //margin-bottom: 6em;
  //    }
  //
  //    .explorations {
  //      padding: 0 4.5em;
  //
  //      @include breakpoint(mobile) {
  //        padding-left: 2.25em;
  //        width: auto;
  //      }
  //    }
  //  }
  //
  //  .label {
  //    color: #282828;
  //    letter-spacing: 4px;
  //    text-transform: uppercase;
  //    font-size: 1.2em;
  //    font-weight: bold;
  //    line-height: 100%;
  //    margin: 0 0 3em 0;
  //    position: relative;
  //
  //    &::before {
  //      $s: 1.25em;
  //
  //      display: inline-block;
  //      position: relative;
  //      top: .2em;
  //      content: '';
  //      width: $s;
  //      height: $s;
  //      background: url('/images/pp-formal.jpg') no-repeat;
  //      background-size: 100% 100%;
  //      border-radius: 2px;
  //      margin-right: 1em;
  //    }
  //  }
  //
  //  //h2 {
  //  //  font-size: ms(2);
  //  //  color: #282828;
  //  //  font-weight: bold;
  //  //  margin: 1em 0;
  //  //  max-width: 80%;
  //  //
  //  //  @include breakpoint(mobile) { max-width: 90%; }
  //  //}
  //
  //  .explanatory,
  //  .exploration-list {
  //
  //    @include breakpoint(mobile) {
  //      display: block;
  //      max-width: 100%;
  //    }
  //  }
  //
  //  .exploration-list {
  //    margin: 3em 0 1.5em 0;
  //
  //    @include breakpoint(mobile) {
  //      max-width: 90%;
  //      margin: 4.5em 0 3em 0;
  //    }
  //
  //    li {
  //      $air: 2.25em;
  //
  //      opacity: .9;
  //      position: relative;
  //      max-width: 66%;
  //      padding-left: 3em;
  //      @include transition(opacity .2s);
  //
  //      &:hover {
  //        opacity: 1;
  //      }
  //
  //      @include breakpoint(mobile) {
  //        padding-left: 3.33em;
  //        max-width: 100%;
  //      }
  //
  //      &:not(:last-child) {
  //        margin-bottom: $air;
  //        padding-bottom: $air;
  //        border-bottom: 1px solid rgba(#282828, .1);
  //      }
  //
  //      .title {
  //        color: #282828;
  //        font-size: ms(0);
  //        cursor: pointer;
  //        font-family: $pp_curatorialFont;
  //        font-weight: bold;
  //
  //        &::before {
  //          //border: 1px solid rgba(#282828, .1);
  //          position: absolute;
  //          left: 0;
  //          top: .25em;
  //          display: inline-block;
  //          background: url('/images/exploration-mock.svg') no-repeat;
  //          width: .9em;
  //          height: .9em * 1.5;
  //          content: '';
  //
  //          @include breakpoint(mobile) {
  //            top: .33em;
  //          }
  //        }
  //
  //        &.video::after {
  //          content: '';
  //          display: inline-block;
  //          width: 1em;
  //          height: .85em;
  //          margin-left: .6em;
  //          position: relative;
  //          top: .12em;
  //          background: url('/images/exploration-video-mock.svg') no-repeat;
  //          border: 1px solid rgba($pp_manuscriptInk, .15);
  //          border-radius: 3px;
  //        }
  //      }
  //
  //      .by-line {
  //        font-family: $pp_curatorialFont;
  //        font-size: ms(-1);
  //        color: rgba($pp_manuscriptInk, .75);
  //        margin-top: .5em;
  //        font-style: italic;
  //
  //        .by {
  //          margin-right: .25em;
  //          font-family: $pp_curatorialFont;
  //        }
  //
  //        //.who {}
  //      }
  //    }
  //  }
  //}

  // Downloads lightbox
  .featherlight {
    &.downloads {
      #downloads-box {display: block;}
      color: #aaa;
    }
  }

  .fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #191919;
    z-index: 3;
    @include transition(transform .3s);
  }

  .masthead-box {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 1.66em 0 1.5em 0;

    .masthead {
      margin-left: $leftEdgeOffset;
      position: relative;

      @include breakpoint(mobile) {
        margin-left: $mobileLeftEdgeOffset;
      }

      .to-intro {
        display: inline-block;
        vertical-align: middle;

        .logo {
          height: 2.75em;

          @include breakpoint(mobile) {
            height: 2em;
          }
        }
      }

      .in-page-nav {
        margin-left: 4.5em;
        display: inline-block;
        vertical-align: middle;

        a {
          font-size: ms(-2);
          color: rgba(255, 255, 255, .75);
          border: 1px rgba(255, 255, 255, .33) solid;
          font-family: $pp_originalFont;
          background: rgba(255, 255, 255, .04);
          padding: .33em .66em;
          border-radius: 4px;
          text-align: center;
          @include transition(color .2s);

          @include breakpoint(mobile) {
            font-size: ms(-3);
          }

          &:not(:last-child) {
            margin-right: 1.5em;
          }

          &:hover { color: #fff; }
        }
      }

      .pp-search-box {
        z-index: 2;
        @include vcenter;
        right: 3.75em;

        @include breakpoint(mobile) {
          right: 2.25em;
        }
      }
    }
  }

  // In page nav actions
  $navActionSize: 2.5em;

  .to-top-action,
  .to-exploration-action {
    z-index: 95;
    display: block;
    position: fixed;
    height: $navActionSize;
    background: #21211F;
    background-image: linear-gradient(0deg, #16110e 0%, #261d18 100%);
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba($pp_shinyGold, .25);
    @include transition(bottom .3s cubic-bezier(.175,.885,.32,1.275), right .3s cubic-bezier(.175,.885,.32,1.275), color .2s);

  }

  // To top action
  .to-top-action {
    bottom: -3em;
    right: 1.5em;
    width: $navActionSize;

    img {
      opacity: .5;
      max-width: 1em;
      margin-top: calc(($navActionSize - 1em) / 2);
      @include transition(opacity .2s);
    }

    &:hover {
      img {
        opacity: .8;
      }
    }
  }

  .to-exploration-action {
    bottom: 1.5em;
    right: 1.5em;
    line-height: 2.55em;
    color: rgba($pp_manuscriptPaper, 1);
    font-family: $pp_originalFont;
    padding: 0 .66em 0 2.2em;

    img {
      opacity: .85;
      @include vcenter();
      left: .66em;
      height: 1.25em;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;
    }

    &:hover {
      color: #fff;
    }
  }

  &.scrolled {
    .to-top-action {
      bottom: 1.5em;
      opacity: 1;
    }

    .to-exploration-action {
      right: 5.5em;
    }
  }

  // Content wrapper
  #c {
    display: none;
    background: #181818;
  }

  .resource-type-tabs {
    max-width: $maxWidth;
    margin: 1em auto 0 auto;
    padding: 0 0 0 $leftEdgeOffset;
    position: relative;
    right: 1px;

    .resource-tab {
      display: inline-block;
      border: 1px solid rgba(#000, .5);
      border-bottom: none;
      border-radius: 8px 8px 0 0;
      background: rgba(#fff, .1);
      padding: .9em 1.5em .75em 1.5em;
      margin-left: .5em;
      line-height: 1;
      cursor: pointer;
      position: relative;
      @include transition(background .2s);

      .label {
        display: inline-block;
      }

      &.active {
        //opacity: 1;
        z-index: 2;
        top: 1px;
      }

      &:not(.active) {
        top: 3px;
        z-index: 0;

        .label {
          opacity: .75;
        }

        .note-trigger {
          opacity: .66;
        }
      }

      &.poems-tab {
        background: #202020;

        &:not(.active) {
          background: #303030;
        }
      }

      &.connections-tab {
        $color: #4d3a32;

        background: darken(#d8d6ce, 15%);
        color: darken($color, 5%);
        border-color: rgba($color, .5);

        .label {
          font-size: 1.05em;
          font-weight: bold;
        }

        .note-trigger {
          background: rgba($color, .75);
          color: rgba(#fff, .75);

          &:hover {
            background: rgba($color, 1);
            color: rgba(#fff, 1);
          }
        }

        &:not(.active) {
          background: darken(#d8d6ce, 25%);
        }
      }
    }
  }

  .toolbar-box {
    background: #202020;
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(#000, .15);
    overflow: hidden;
    max-width: $maxWidth;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 -3px 3px rgba(#111, .15);
    @include transition(background .2s);

    .toolbar {
      max-width: $maxWidth;
      margin-left: $leftEdgeOffset;
      position: relative;
      padding: 0;
      font-family: $pp_interfaceFont;

      .col {
        display: inline-block;

        .label {
          opacity: .5;
          padding: .66em 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: .85em;
          display: inline-block;
        }

        &.sort {
          .status-box {
            max-width: $maxWidth;
            margin: 0 auto;

            .status {
              $themeColor: $pp_manuscriptPaper;

              display: inline-block;
              font-size: .85em;
              letter-spacing: 1px;
              color: rgba($themeColor, .5);
              margin: 1.5em 0;
              @include transition(all .2s);

              @include breakpoint(mobile) {
                margin: 1.5em 1.5em 1.5em 4.5em;
                font-size: 1em;
              }

              .status-eye {
                width: 1em;
                position: relative;
                top: 2px;
                margin-right: .45em;
                opacity: .5;

                .st0 {
                  fill: rgba($themeColor, 1);
                }
              }

              &.hi {
                color: rgba($pp_keywordColor, .66);

                .status-eye {
                  opacity: 1;

                  .st0 {
                    fill: rgba($pp_keywordColor, .66);
                  }
                }

                .status-reset {
                  display: inline-block;
                  color: rgba($pp_RoyalBlueLight, .75);
                  border-bottom: 1px rgba($pp_RoyalBlueLight, .66) dashed;
                  @include transition(all .2s);

                  &:hover {
                    color: rgba($pp_RoyalBlueLight, 1);
                    border-bottom: 1px rgba($pp_RoyalBlueLight, .85) dashed;
                  }
                }
              }

              .status-reset {
                margin-left: .5em;
                cursor: pointer;
                display: none;
                line-height: 120%;
              }
            }

            &.for-connections {
              display: none;
            }
          }
        }

        &.edition {
          @include vcenter;
          left: $mainColumnWidth;
          position: absolute;

          &::after {
            content: '';
          }

          @include breakpoint(mobile) {
            display: none;
          }
        }

        &.c-flag {
          display: none;
        }

        &.on {
          color: $pp_RoyalBlueLight;

          .label {
            opacity: 1;
          }
        }
      }
    }
  }

  .resource-type-tabs.connections-on {
    & + .toolbar-box {
      background: darken(#d8d6ce, 15%);
      border-top: 1px solid $pp_manuscriptInk;

      .toolbar {
        .col {
          &.sort {
            .status-box {
              .status {
                color: $pp_manuscriptInk;

                .status-eye {
                  opacity: 1;

                  .st0 {
                    fill: $pp_manuscriptInk;
                  }
                }
              }

              &.for-poems {
                display: none;
              }

              &.for-connections {
                display: block;
              }
            }
          }

          &.edition {
            display: none;
          }

          &.c-flag {
            display: block;
            @include vcenter;
            right: 4.5em;

            .connection-index-filters {
              list-style: none;

              li {
                display: inline-block;

                &:not(:last-child) {
                  margin-right: 1.75em;
                }

                .label {
                  color: #282828;
                  opacity: .85;
                  cursor: pointer;
                  display: inline-block;
                  padding: 0;

                  &.active {
                    font-weight: bold;
                    opacity: 1;
                  }
                }

                .note-trigger {
                  background: rgba($pp_manuscriptInk, .5);
                  color: rgba(#fff, .66);

                  &:hover {
                    background: rgba($pp_manuscriptInk, .9);
                    color: rgba(#fff, 1);
                  }
                }
              }
            }

            @include breakpoint(mobile) {
              display: none;
            }
          }
        }
      }
    }
  }

  // Note triggers
  .note-trigger {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    margin-left: .66em;
    text-align: center;
    line-height: 1.25em;
    font-size: .66em;
    font-style: italic;
    opacity: .75;
    color: #000;
    background: rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(255, 255, 255, 0.66);
    }
  }

  // Top offset
  .index-top-padding {
    padding-top: 13.5em;
  }

  // Indices
  #connections-section,
  #poems-section {
    max-width: $maxWidth;
    margin: 0 auto;
  }

  // Connections section
  #connections-section {
    overflow: hidden;
    background: darken(#d8d6ce, 10%);
    color: $pp_manuscriptInk;
    //height: 0;

    .list-view {
      padding: 2.25em $leftEdgeOffset;
    }

    &.enabled {
      //height: auto;
    }

    ul.connections-list.grid {
      display: block;
      text-align: left;

      .connection {
        margin: .66em;
        display: inline-block;
        vertical-align: top;
        width: 16em;
        border: 1px solid rgba(#282828, .25);
        border-radius: 8px;
        background: rgba($pp_manuscriptInk, .15);
        padding: .5em 1em 1em 1em;
        cursor: pointer;
        @include transition(border .2s, background .2s );

        &:hover {
          border: 1px solid rgba(#282828, .33);
          background: rgba($pp_manuscriptInk, .2);
        }

        .title {
          font-size: ms(-1);
          color: #282828;
          display: block;
          font-weight: bold;
        }

        .by-line {
          font-size: ms(-2);
          display: block;
          font-style: italic;
          margin-top: .45em;
          opacity: 1;
        }

        .badge {
          $size: 1em;

          text-transform: uppercase;
          margin-bottom: 1.25em;
          font-size: ms(-4);
          border-radius: 2px;
          display: inline-block;
          min-width: $size;
          height: $size;
          line-height: $size;
          text-align: center;
          padding: 3px 3px 3px 4px;
          background: rgba(#282828, .8);
          letter-spacing: 1px;
          color: rgba(#fff, .75);

          &:hover {
            background: rgba(#282828, 1);
            color: rgba(#fff, 1);
          }
        }

        &.exploration {
          border: 1px solid rgba($pp_manuscriptInk, .25);

          .badge {
            background: rgba($pp_manuscriptInk, .8);
            cursor: pointer;
          }

          &:hover {
            border: 1px solid rgba($pp_manuscriptInk, .33);
          }
        }

        //&.curation {}
      }
    }
  }

  // Poems section
  #poems-section {
    background: #222;

    /* List view */
    .list-view {
      color: #fff;
      padding: 0 0 0 $leftEdgeOffset;

      @include breakpoint(mobile) {
        padding-left: 4.5em;
      }

      ul.poem-list.grid {
        position: relative;
        height: auto;
      }

      .gi {
        position: relative;
        margin-left: 0;
        padding: 3em 0;
        width: 100%;

        .main-column,
        .secondary-column {
          display: inline-block;
          vertical-align: top;

          @include breakpoint(mobile) {
            display: block;
          }
        }

        .main-column {
          //background: chartreuse;
          width: $mainColumnWidth;

          @include breakpoint(mobile) {
            width: 90%;
          }
        }

        .secondary-column {
          //background: firebrick;
          width: 100% - $mainColumnWidth - 4%;
          margin-right: 4%;

          @include breakpoint(mobile) {
            width: 90%;
          }
        }

        @include breakpoint(mobile) {
          padding: 1.5em 0;
        }

        //&::before,
        //&::after {
        //  position: absolute;
        //  content: '';
        //  right: 0;
        //  left: 0;
        //  pointer-events: none;
        //  z-index: 2;
        //
        //  @include breakpoint(mobile) {
        //    display: none;
        //  }
        //}
        //
        //&::before,
        //&::after {
        //  pointer-events: none;
        //}
        //
        //&::before {
        //  height: 2em;
        //  background-image: -webkit-linear-gradient(-90deg, rgb(22, 22, 22) 0%, rgba(24, 24, 24, 0) 100%);
        //  top: 0;
        //}
        //
        //&::after {
        //  height: 4.5em;
        //  background-image: -webkit-linear-gradient(90deg, rgb(22, 22, 22) 0%, rgba(24, 24, 24, 0) 100%);
        //  bottom: 0;
        //}

        &:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, .05);
        }

        .idx {
          $factor: ms(-2);

          font-size: $factor;
          text-align: right;
          position: absolute;
          top: 4.2em;
          left: -3.25em;
          color: rgba($pp_manuscriptPaper, .66);
          letter-spacing: 1px;
          width: 2em;

          @include breakpoint(mobile) {
            font-weight: bold;
            font-size: 1em;
            left: -3.25em;
            top: 2.25em;
          }
        }

        h3 {
          display: inline-block;
          font-family: $pp_originalFont;
          font-size: ms(1);
          margin-right: 2em;
          text-shadow: 0 0 2px rgba(0, 0, 0, .25);

          a,
          a:active,
          a:visited {
            color: #fff;
            @include transition(color .2s);

            &:hover {
              color: $pp_shinyGold;
            }
          }
        }

        &.pseudo {
          .title {
            opacity: .66;
            font-style: italic;
          }
        }

        .fl {
          position: relative;
          margin-top: .66em;
          padding-right: .61em;
          font-family: $pp_poetryFont;
          font-size: ms(0);
          color: rgba(lighten(#E7CEB3, 7%), .75);
          display: inline-block;
          font-smooth: auto;
          -webkit-font-smoothing: auto;
          -moz-osx-font-smoothing: auto;

          &::before {
            $s: .4em;

            content: '';
            position: absolute;
            display: inline-block;
            width: $s;
            height: 1em;
            background: url('../../../images/fl-icon.svg') no-repeat 50% 50%;
            background-size: $s auto;
            margin-right: .5em;
            //position: relative;
            left: -1.2em;
            top: .3em;

            @include breakpoint(mobile) {
              display: none;
            }
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 61%;
            height: 100%;
            background-image: linear-gradient(90deg, rgba(#222, 0) 0%, rgba(#222, .85) 75%);
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
          }
        }

        //.to-vm {
        //  $s: 1.33em;
        //
        //  margin-top: 1em;
        //  padding-top: .5em;
        //  position: relative;
        //  //opacity: .5;
        //  display: inline-block;
        //  color: rgba(#fff, .75);
        //  //color: rgba($pp_RoyalBlueLight, .75);
        //  //color: rgba(#fff, 1);
        //  letter-spacing: 1px;
        //  font-size: ms(-3);
        //  //text-transform: uppercase;
        //  //font-weight: bold;
        //  //line-height: 1;
        //  opacity: .8;
        //  //border-top: 1px solid rgba(#fff, .1);
        //  //background: thistle;
        //  //background: rgba($pp_manuscriptPaper, .2);
        //  //border: 1px solid rgba(240, 223, 206, .75);
        //  //border-radius: 3px;
        //  //width: $s;
        //  //height: $s;
        //  //cursor: pointer;
        //  @include transition(opacity .2s);
        //
        //  &::before {
        //    content: '';
        //    display: inline-block;
        //    vertical-align: middle;
        //    margin-right: .1em;
        //    width: 1em;
        //    height: 1em;
        //    background: url('/images/compare-icon.svg') no-repeat 0 0;
        //    background-size: auto .9em;
        //  }
        //
        //  &:hover {
        //    opacity: 1;
        //  }
        //
        //  //img {
        //  //  @include vcenter;
        //  //  width: 50%;
        //  //  margin: 0 auto;
        //  //  left: 0;
        //  //  right: 0;
        //  //}
        //
        //  @include breakpoint(mobile) {
        //    display: none;
        //  }
        //}

        .to-vm {
          $s: 1em;

          position: relative;
          top: 1px;
          opacity: .5;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: .35em;
          background: rgba($pp_manuscriptPaper, .2);
          border: 1px solid rgba(240, 223, 206, .75);
          border-radius: 4px;
          width: $s;
          height: $s;
          cursor: pointer;
          @include transition(opacity .2s);

          &:hover {
            opacity: .75;
          }

          img {
            @include vcenter;
            width: 50%;
            margin: 0 auto;
            left: 0;
            right: 0;
          }

          @include breakpoint(mobile) {
            display: none;
          }
        }

        .filter-tags {
          margin-top: 1.5em;
          margin-right: 3em;
          padding-right: 3em;
          line-height: 2;

          @include breakpoint(mobile) {
            margin-right: 0;
            padding-right: 1.5em;
          }

          // Filter icon
          &::before {
            $s: .75em;

            content: '';
            width: $s;
            height: $s;
            display: inline-block;
            background: url('/images/filter-icon.svg') no-repeat;
            vertical-align: middle;
            position: absolute;
            left: -$s * 2.4;
            margin-top: .6em;
            background-size: $s;

            @include breakpoint(mobile) {
              display: none;
            }
          }

          li {
            display: inline-block;
            color: rgba($pp_keywordColor, .5);
            opacity: .75;
            cursor: pointer;
            background: rgba($pp_manuscriptPaper, .15);
            line-height: 1;
            padding: .25em;
            //font-style: italic;
            border-radius: 4px;
            @include transition(all .2s);

            &:not(:last-child) {
              margin-right: .45em;
            }

            &:hover {
              color: rgba($pp_keywordColor, .9);
              background: rgba($pp_manuscriptPaper, .25);
            }
          }
        }

        .poem-editions {
          padding-top: .66em;

          @include breakpoint(mobile) {
            margin: .5em 0 0 0;
            //border-top: 1px solid rgba(#fff, .05);
          }

          li.edition {
            $air: .85em;

            position: relative;
            margin-right: 6em;

            @include breakpoint(mobile) {
              display: inline-block;
              margin-right: 3em;
            }

            &:not(:last-child) {
              margin-bottom: $air;
              padding-bottom: $air;

              @include breakpoint(mobile) {
                margin-bottom: 1em;
                border: none;
              }
            }

            .edition-button {
              display: inline-block;
              position: relative;
              opacity: .75;
              @include transition(opacity .2s);

              &:hover,
              &:active {
                opacity: 1;
              }

              @include breakpoint(mobile) {
                font-size: 1.1em;
              }
            }

            .edition-code {
              margin-bottom: .4em;
              letter-spacing: 2px;
              text-transform: uppercase;
              font-size: ms(-3);
              color: rgba(#fff, 1);
              font-weight: bold;
            }

            .by-line {
              color: rgba(#ECE9E1, .8);

              .by {
                font-size: .75em;
                font-family: $pp_curatorialFont;
              }

              .who {
                font-weight: bold;
              }
            }
          }

          @include breakpoint(mobile) {
            position: static;
            width: 100%;
            padding: 1.5em 0 0 0;
          }
        }

        //.to-curation {
        //  $ratio: calc(5 / 6);
        //  $height: 2.25em;
        //
        //  opacity: .8;
        //  position: absolute;
        //  width: $height * $ratio;
        //  height: $height;
        //  right: 5.33em;
        //  top: 3.66em;
        //  background: url('/images/curation-mock.svg') no-repeat 100% 0;
        //  background-size: auto 100%;
        //  @include transition(opacity .2s);
        //
        //  @include breakpoint(mobile) {
        //    right: 2.25em;
        //    top: 2em;
        //  }
        //
        //    &:hover {
        //    opacity: 1;
        //  }
        //}

        &.not-published {
          font-size: .8em;
          padding: 2em 0;

          .idx {
            opacity: .33;
            top: 3.2em;
          }

          h3 {
            opacity: .2;
          }
        }
      }
    }
  }

  #pp-home-image-collection,
  #downloads-box { display: none; }

  // Exploration lightbox adjustments
  .featherlight.curation {
    .featherlight-content {
      #content {
        padding-top: 3em;

        .dismiss { top: 2.25em; }
      }

      header {
        .t::before {
          margin-bottom: 1.33em;
        }
      }

      main {
        color: #282828;
      }
    }
  }
}


