.pp-search-box {
  display: none;

  input[type=text] {
      background: rgba(0, 0, 0, .5);
      border: 1px solid rgba(#282828, 1);
      //box-shadow:
      //  inset 0 1px 1px rgba(0, 0, 0, .1),
      //  inset 0 -1px 1px rgba(0, 0, 0, .1),
      //  inset 1px 0 1px rgba(0, 0, 0, .1),
      //  inset -1px 0 1px rgba(0, 0, 0, .1);
      padding: 1em;
      border-radius: 4px;
      color: #fff;
      font-family: $pp_curatorialFont;
      font-size: ms(-2);
      width: 11em;
      @include transition(width .3s);

      &:focus {
        width: 18em;
        background: rgba(255, 255, 255, .07);
        outline: none;
        border: 1px solid rgba($pp_shinyGold, .8);
        box-shadow: none;
      }

      $placeholderColor: rgba(255, 255, 255, .35);

      &::-webkit-input-placeholder {
        font-style: italic;
        color: $placeholderColor;
      }

      &::-moz-placeholder {
        font-style: italic;
        color: $placeholderColor;
      }

      &:-ms-input-placeholder {
        font-style: italic;
        color: $placeholderColor;
      }

      &:-moz-placeholder {
        font-style: italic;
        color: $placeholderColor;
      }
    }

  input[type=submit] {
      @include vcenter;
      right: 1em;
    }

  .results-box {
    background: whitesmoke;
    min-width: 25em;
    max-height: 25em;
    color: #282828;
    position: absolute;
    right: 0;
    top: 120%;
    border-radius: 4px;
    border: #282828;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    overflow: auto;

    // todo: remove
    display: block !important;

    .results {
      .search-result {
        position: relative;
        padding: .8em 1em .8em 2.5em;
        @include transition(background .2s ease-in-out);

        &:not(:last-child) {
          border-bottom: rgba(#282828, .06) solid 1px;
        }

        &:hover {
          background: #e6e6e6;
        }

        a {
          color: #282828;
          display: inline-block;
        }

        .pn,
        .pt {
          display: inline-block;
        }

        .pn {
          position: absolute;
          left: 1.15em;
          top: 1.25em;
          font-size: .8em;
          margin-right: .66em;
          text-align: right;
          width: 2em;
          opacity: .5;
          letter-spacing: 1px;
          font-family: $pp_curatorialFont;
        }

        .pt {
          margin-left: .66em;
          font-family: $pp_originalFont;
        }

        //.pe {}

        .pa {
          font-family: $pp_curatorialFont;
          font-size: .85em;
          margin-left: calc(.66 / .85) + em;
          margin-top: .25em;
          font-style: italic;
          opacity: .66;
        }

        &.poem-match {
          .pt {
            font-family: $pp_originalFont;
          }
        }

        &.ctx-match {
          padding: .66em 1em .66em 2.5em;
          background: #ece9e2;

          .pt {
            font-family: $pp_curatorialFont;
            font-weight: 600;
            color: rgba(40, 40, 40, .85);
          }

          .pn {
            top: 1.05em;
          }
        }

        &.highlighted {
          background: #d6d6d6;
          border-top: 1px solid #bbb;
        }
      }

      .init {
        @include vcenter;
        left: 0;
        right: 0;
        text-align: center;
        color: rgba(#282828, .5);
        font-style: italic;
        font-size: .85em;
      }
    }
  }
}
