.pp.single-poem {
  // Poem 1
  // Line numbers adjustments
  &.poem-1 {
    .mc .poem main {
      .milestone.left-gutter {
        margin-left: -.15em;
      }

      .line-number-value {
        left: .66em;

        @include breakpoint(mobile) {
          left: -2.85em;
        }
      }
    }
  }

  // Poem 2
  // Note labels in AE
  &.poem-2.ae {
    .featherlight .featherlight-content .content .note-box {
      &::before {
        display: block;
        font-size: .66em;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: .66;
        margin-bottom: .75em;
        color: $pp_manuscriptInk;
      }

      &.gloss::before {
        content: 'Gloss note';
      }

      &.critical::before {
        content: 'Critical note';
      }

      &.textual::before {
        content: 'Textual note';
      }

      &.original::before {
        content: 'Original gloss note';
      }
    }
  }

  // Poem 12
  // Custom milestones in EE
  &.poem-12 {
    .mc .poem main {
      .milestone.left-gutter {
        text-align: right;
        width: 6em;
        margin-left: -5.25em;
        font-size: .75em;
        position: relative;
        bottom: -.25em;

        @include breakpoint(mobile) {
          height: auto;
          margin: .6em 0;
          font-size: 1em;
          text-align: left;
          max-width: 10em;
          width: auto;
          bottom: 0;
        }
      }

      .line-number-value {
        left: .85em;

        @include breakpoint(mobile) {
          left: -2.8em;
        }
      }
    }
  }

  // Poems 41 and 120
  // Custom milestones in EE
  &.poem-41,
  &.poem-120 {
    .mc .poem main {
      .milestone.left-gutter {
        text-align: right;
        font-size: .8em;
        position: relative;
        bottom: -.23em;

        @include breakpoint(mobile) {
          height: auto;
          font-size: 1em;
          text-align: left;
          max-width: none;
          bottom: 0;
        }
      }

      .line-number-value {
        left: .66em;

        @include breakpoint(mobile) {
          left: -3em;
        }
      }
    }
  }

  &.poem-41 .poem main .milestone.left-gutter {
    width: 4em;
    margin-left: -3.5em;

    @include breakpoint(mobile) {
      max-width: 10em;
      width: auto;
      margin: .6em 0;
    }
  }

  &.poem-120 .poem main .milestone.left-gutter {
    width: 5em;
    margin-left: -4.5em;

    @include breakpoint(mobile) {
      max-width: 10em;
      width: auto;
      margin: .6em 0;
    }
  }

  // Poem 56
  // Custom milestones in EE and AE
  &.poem-56 {
    .mc .poem main {
      margin-left: 11.75%;

      .poem-body {
        .pb:first-of-type {
           .facsimile-toggle {
             top: -.54em;

             @include breakpoint(mobile) {
                top: .33em;
             }
           }
        }
      }

      .milestone.left-gutter {
        text-align: right;
        width: 6em;
        margin-left: -5.7em;
        font-size: .75em;
        position: relative;
        bottom: -.25em;

        @include breakpoint(mobile) {
          height: auto;
          margin: .6em 0;
          font-size: 1em;
          text-align: left;
          max-width: 10em;
          width: auto;
          bottom: 0;
        }
      }

      .line-number-value {
        left: .85em;

        @include breakpoint(mobile) {
          left: -2.8em;
        }
      }
    }
  }

  // Poem 68
  // Custom milestones in EE
  &.poem-68 {
    .mc .poem main {
      .milestone.left-gutter {
        text-align: left;
        width: 8.5em;
        margin-left: -6.75em;
        font-size: .5em;
        position: relative;
        bottom: -.85em;

        @include breakpoint(mobile) {
          height: auto;
          margin: 1em 0 .66em 0;
          font-size: 1em;
          text-align: left;
          max-width: 15em;
          width: auto;
          bottom: 0;
        }
      }

      .line-number-value {
        left: .8em;

        @include breakpoint(mobile) {
          left: -3em;
        }
      }
    }
  }
}
