[submodule "pulter-site/images/headnote-posters"]
	path = pulter-site/images/headnote-posters
	url = https://github.com/MADStudioNU/the-pulter-project-posters.git
[submodule "pulter-site/images/facs"]
	path = pulter-site/images/facs
	url = https://github.com/MADStudioNU/the-pulter-project-facs
[submodule "pulter-site/family-tree"]
	path = pulter-site/family-tree
	url = https://github.com/MADStudioNU/topola-viewer.git
