<!-- HTML Data -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>[TITLE]</title>
  <link rel="stylesheet" href="/styles/styles.css"/>
</head>
<body class="page curation-page">

<!-- Escape link for standalone version of a Curation -->
<div class="escape-box">
  <a class="escape pp-action" href="/poems/[POEM NUMBER]">Back to Poem</a>
</div>
<article id="content" class="lato">
  <span class="dismiss"></span>

  <!-- Header -->
  <header>
    <h2 class="t">[TITLE]</h2>
    <div class="by-line">
      <span class="by">by</span> <span class="who">[AUTHOR]</span>
    </div>
  </header>
  <main>

    <!-- Insert Main Content -->

    </main>
</article>
</body>
</html>

<!-- Building Blocks -->

    <!-- Paragraphs -->
    <p>
      [TEXT PARAGRAPH]
    </p>

    <!-- Poems -->
    <ul class="lg">
      <li class="l">[TEXT]</li>
    </ul>

    <!-- Images -->
    <div class="img-box">
      <img src="/curations/img/c#-[CURATION TITLE SLUG]-1.jpg" alt="">
      <p class="caption">[CAPTION]</p>
      <p class="src">[AUTHOR], <span class="it">[WORK'S TITLE]</span>[THE REST].</p>
    </div>

    <!-- Citations Block -->
    <div class="q">
      <div class="q-block">
        <div class="src">
          <span class="bt">[AUTHOR]</span>, <span class="it">[TITLE]</span>
        </div>
      </div>

      <!-- Citations multiple lines (if long) -->
      <div class="q">
        <div class="q-block">
          <div class="src">
            <span class="bt">[AUTHOR]</span><br/>
            <span class="it">[WORKS TITLE WORKS TITLE WORKS TITLE]</span>
          </div>
        </div>

        <!-- Citations with intro-note -->
        <div class="q wide wsn wsn-35">
          <div class="q-block">
            <div class="src">
              <span class="bt">[AUTHOR]</span>, <span class="it">[TITLE]</span>
            </div>
            <div class="intro-note">[CONTENT]—[NAME]</div>
          </div>

          <!-- Citations with notes -->
          <div class="q wide wsn wsn-35">
            <div class="q-block">
              <div class="src">
                <span class="bt">[AUTHOR]</span>, <span class="it">[TITLE]</span>
              </div>
            </div>

            <ul>
              <li>[TEXT]
                <div class="sidenote">[NOTE]</div>
              </li>
            </ul>

            <!-- Bottom attribution -->
            <div class="q-block bottom">
              <div class="src">
                [AUTHOR], <span class="it">[TITLE]</span> [THE REST]
              </div>
            </div>
          </div>

          <!-- Inline Block Note -->
          <div class="q-block">
            <div class="inline-block-note">[NOTE]</div>
          </div>

          <!-- Footnote Numeral -->
          <a class="lato place-above fn-num" href="#fn-1-1" id="fna-1-1">1</a>

          <!-- Footnote Block -->
          <div class="footnote">
            <p id="fn-1-1">
              <a href="#fna-1-1" class="fn-anchor">1.</a> [CONTENT]
            </p>
          </div>

          <!-- Poem reference -->
          <a href="/poems/#" title="Read “[POEM TITLE]” (Poem/Emblem #)" class="pp-poem-ref" target="_blank"><span
            class="t">[POEM TITLE]</span><span class="idx">#</span></a>
          
          <!-- References to curations (from a different poem) -->
          <a class="pp-curation-re" href="/poems/ae/[POEM-TITLE]/#[CURATION-TITLE-SLUG]" target=_blank”>[CURATION TITLE]</a>

          <!-- External Link -->
          <a href="[URL]" target="_blank"></a>
    
  
