$maxWidth: $maxContentWidth;
$leftEdgeOffset: 4.5em;
$mobileLeftEdgeOffset: 2.25em;

#footer {
  background: #020202;
  border-top: 1px solid rgba(#fff, .11);
  margin-top: 1.5em;
  position: relative;
  top: -1px;

  a {
    color: #ccc;
    @include transition(color .2s);

    &:hover {
      color: #fff;
    }
  }

  @include breakpoint(mobile) {
    border-top: none;
    margin-top: 0;
  }

  .footer-box {
    width: 80%;
    padding: 3em 0;
    max-width: $maxWidth;
    margin: 0 auto;

    .footer {
      margin-left: $leftEdgeOffset;

      @include breakpoint(mobile) {
        margin-left: 2.25em;
        margin-right: 2.25em;
      }
    }

    .left,
    .right {
      display: inline-block;
      vertical-align: top;
    }

    .left {
      width: 45%;
      //background: #2C83E9;
      padding-right: 5%;
    }

    .right {
      width: 50%;
    }

    @include breakpoint(mobile) {
     .left, .right {
       display: block;
       width: 100%;
       text-align: center;
     }

      .left {
        margin-bottom: 1.5em;
      }
    }

    .logo-box {
      margin-bottom: 1.15em;

      .logo, h5 {
        display: inline-block;
        vertical-align: bottom;
      }

      .logo {
        max-height: 1.15em;
        border: 1px solid rgba($pp_shinyGold, .33);
        margin-right: .66em;
        border-radius: 1px;
      }

      h5 {
        font-family: $pp_originalFont;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #e5e5e5;
        line-height: 1.1;

        .small-cap {
          font-size: .9em;
        }
      }
    }

    .tpp-version-imprint {
      $color: $pp_manuscriptInk;

      display: inline;
      color: rgba(lighten($color, 50%), .8);
      margin-left: 1em;
      font-size: .7em;
      opacity: .85;
      border: 1px solid lighten($color, 2%);
      border-radius: 3px;
      padding: 1px 2px;
      background: rgba($color, .33);

      @include breakpoint(mobile) {
        display: block;
        margin: 1.5em auto 0 auto;
        width: 4.5em;
      }
    }

    p {
      font-size: ms(-2);
      color: #aaa;
      margin: 0;
      line-height: 1.61;

      &:not(:last-of-type) {
        margin-bottom: .5em;
      }
    }

    nav {
      @include vcenter;

      @include breakpoint(mobile) {
        position: static;
        @include transform(none);
        margin-top: 2.25em;
        border-top: 1px solid rgba(255, 255, 255, .2);
        padding-top: 2.25em;
      }

      h6 {
        font-size: ms(-2);
        width: 33%;
        padding-right: 10%;
        display: inline-block;
        vertical-align: top;
        line-height: 1.5;
        color: #bbb;
        font-weight: bold;

        &:nth-last-child(n+3) {
          margin-bottom: 1em;
        }

        @include breakpoint(mobile) {
          width: 50%;
          padding: .25em 0;

          &:not(:last-child) {
            margin-bottom: 1em;
          }
        }
      }
    }
  }

  .app-reset {
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    cursor: default;
  }
}

.pp.single-poem {
  #footer .footer-box .footer {
    margin-left: 0;

    @include breakpoint(mobile) {
      margin: 0 7%;
    }
  }
}

.pp.page {
  #footer .footer-box {
    width: 100%;
    margin-left: 0;

    .footer {
      @include breakpoint(mobile) {
        margin: 0 7%;
      }
    }
  }
}

.pp.home {
  #footer {
    margin-top: 0;

    .footer-box {
      width: 100%;
      margin-left: 0;
    }
  }
}
