@import "../vendor/reset";

// Typography settings
@import "../../../../node_modules/modularscale-sass/stylesheets/modularscale";

$modularscale: (
    base: 1.5em 1.25em,
    ratio: 1.618
);

html {background: #000;}

body {
  line-height: 1.5;
  //-webkit-touch-callout: none !important;
  //-webkit-user-select: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:active,
a:visited {
  color: #297bd9;
  text-shadow: none;
  text-decoration: none;
}

a:active { outline: none; }

section {
  &:focus { outline: none; }
}

// Lists
ul {
  list-style: none;
}

// Superscript
sup {
  vertical-align: baseline;
  position: relative;
  bottom: .5em;
  font-size: .85em;
}

::selection {
  background: rgba($pp_shinyGold, .9);
  text-shadow: none;
  color: #181818;
}

::-moz-selection {
  background: rgba($pp_shinyGold, .9);
  text-shadow: none;
  color: #181818;
}

.print-only {
  display: none;
}
