@media print {
  body, html {background: #fff !important;}

  .print-only {
    display: inherit !important;
  }

  .print-hide {
    display: none !important;
  }

  // Common
  #footer,
  #ctxs {
    display: none;
  }

  a.pp-poem-ref {
    color: #080808;
    background: rgba(69, 52, 44, 0.06);
  }

  // Single poem page
  .pp.single-poem {
    $air: 1.5em;

    .mc {
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 0;

      .masthead {
        display: none;
      }

      .poem {
        box-shadow: none;
        border-radius: 0;
        position: static;
        font-size: .66em;

        .nav,
        .drop-cap-box,
        .headnote-toggle,
        .editor-note-trigger,
        .expand-box,
        .poster,
        .poster-info-trigger {
          display: none;
        }

        .print-attribution-box {
          margin: 0 0 $air * 2 $air;
          padding-bottom: $air * 2;
          border-bottom: 1px solid rgba(#000, .1);

          img, .attribution {
            display: inline-block;
          }

          img.logo {
            width: 1.25em;
            margin-right: .6em;
          }

          .attribution {
            font-size: 1.25em;
            font-family: $pp_originalFont;

            .small-cap {
              text-transform: uppercase;
              font-size: .9em;
            }
          }

          .url {
            margin-top: .33em;
            color: $pp_RoyalBlueLight;
            font-size: 1.25em;
            font-family: $pp_curatorialFont;
          }
        }

        // Mute all note triggers
        .poem-note-trigger {
          background: none;
          background: rgba(#fff, 0);
          border: none;
          box-shadow: none;
          padding: 0;
          pointer-events: none;
        }

        .poem-note-trigger.multi::after {
          display: none;
        }

        // Header specific
        header {
          border-radius: 0;
          background: white;
          padding: $air $air 0 $air;

          .poem-index {
            font-size: 1em;
          }

          .poem-title {
            width: 80%;
            font-size: ms(-1);
            color: #282828 !important;
            text-shadow: none !important;
            margin-bottom: 3em;

            h1 {
              margin-bottom: 0;
            }
          }
        }

        // Main area specific
        main {
          padding: 0 $air;
          margin: 0;
          width: auto;

          .poem-body {
            font-size: 2.2em;

            .pb {
              display: none;

              & + .lg,
              & + .l {
                margin-top: 0;
              }
            }
          }
        }

        .type-ghost-host {
          .ghost {
            opacity: .66;

            &.above {
              top: -.4em;
            }
          }
        }

        footer.poem-footer {
          background: white;
          padding: 0 $air;

          .separator {
            height: .85em;
            margin-bottom: 2em;
          }

          .meta {
            font-size: 1.5em;

            .witness {
              margin-top: 0;
            }
          }

          .editor-note-trigger {
            display: none;
          }

          .editorial-note-box {
            border-top: 1px solid rgba(#000, .1);
            display: block;
            margin-top: 2.25em;
            padding-top: 2.25em;

            h3 {
              font-family: $pp_curatorialFont;
              font-weight: bold;
              margin-bottom: .5em;
            }

            .c {
              p { margin-bottom: 1em; }
              .block-note { opacity: .66; }
            }
          }

          // Poem notes
          .poem-notes {
            counter-reset: count;
            border-top: 1px solid rgba(#000, .1);
            display: block;
            margin: 2.25em 0 0 0;
            padding-top: 2.25em;

            li {
              &:not(:first-child) {
                margin-top: 1em;
              }

              .dismiss { display: none; }

              h5, .content {
                display: inline;
              }

              h5 {
                font-family: $pp_curatorialFont;
                font-weight: bold;
                font-size: 1.1em;

                &::before {
                  content: counter(count);
                  counter-increment: count;
                  display: inline-block;
                  margin-right: .5em;
                  color: rgba($pp_manuscriptInk, .66);
                  font-weight: normal;
                  font-size: .8em;
                }

                &::after {
                  content: ':';
                  display: inline-block;
                  margin: 0 .25em 0 0;
                }
              }

              .content {
                font-family: $pp_curatorialFont;
                color: #282828;

                .lg {
                  margin: $air;
                  font-family: $pp_poetryFont;
                }

                .pp-poem-ref {
                  padding-left: .33em;
                  &::before { display: none; }
                }
              }
            }

            // Misc
            .type-ghost-host {
              .ghost {
                opacity: .5;
                font-size: .7em;

                &.above {
                  top: -.9em;
                }
              }
            }
          }
        }

        // Footnotes
        .footnote-ref {
          font-family: $pp_curatorialFont;
          position: relative;
          font-size: .5em;
          color: rgba($pp_manuscriptInk, .5);
          font-weight: normal;
          bottom: 1em;
        }

        & + .poem {
          margin-top: 0;

          .print-attribution-box {
            visibility: hidden;
            opacity: 0;
          }
        }

        &.expanded {
          .expand-box {
            display: block;

            .headnote {
              color: #282828;
              text-shadow: none;
              background: none;
              border-top: 1px solid rgba(#000, .1);
              border-bottom: 1px solid rgba(#000, .1);
              padding-bottom: 1.5em;
            }

            .poem-details-options {
              display: none;
            }
          }
        }
      }
    }
  }
}
